@media only screen and (max-width: 1255px) {
    /* mobile menu */
    .mobile-menu {
        height: 100vh;
    }

    .hide-nav, .hide-socials {
        display: none;
    }

    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list > ul > li ul li{
        margin-bottom: 0;
    }

    .mobile-menu {
        max-height: 100%;
        display: grid;
    }
    
    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu .close{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 768px) {
    /* intro section */
    .carousel .list .item .contents a img {
        width: 15rem;
    }
    
    .carousel .list .item .contents h1 {
        font-size: 1.5rem;
    }
    
    .carousel .list .item .contents h4 {
        font-size: 1rem;
    }
    
    .carousel .list .item .contents a.btn {
        font-size: .8rem;
    }
    /* features */
    .image-container {
        width: 70%;
    }
    
    @keyframes slideBackground {
        0% {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/building-small-2.jpg') no-repeat center/cover;
        }
        33% {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/building-small-3.jpg') no-repeat center/cover;
        }
        66% {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/building-small-one.jpg') no-repeat center/cover;
        }
        100% {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/building-small-2.jpg') no-repeat center/cover;
        }
    }

    /* about section */
    /* .image-box {
        margin-top: -3rem;
    } */

    .about img  {
        width: 15rem;
        height: 15rem;
    }

    /* .about-info {
        width: 100%;
        padding: 1rem;
        gap: .5rem;
        margin-top: -2rem;
    } */

    .about-info h1 {
        font-size: 2.5rem;
    }

    .about-info p {
        font-size: 1rem;
    }

    /* benefits and features heading */
    .heading h3 {
        font-size: 2.5rem;
    }

    .heading h5 {
        font-size: 1.5rem;
    }

    .overlay-content h1 {
        font-size: 1.8em; 
    }
    
    .overlay-content p {
        font-size: 1em; 
    }
    
    /* faq */
    .faq-info img {
        width: 10rem;
    }

    /* testimonies */
    .testimonies {
        height: 36rem;
    }

    /* profiles */
    .profiles {
        width: 100%;
        padding-top: 0;
    }

    .profile {
        padding-top: 0;
    }

    .card--info {
        width: 100%;
    }

    .card--display img {
        width: 20rem;
        height: 20rem;
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    /* solutions */
    .solution header h1 {
        font-size: 2.5rem;
    }
    
    .solution-info {
        padding: 1rem;
    }

    .text, .solution-img {
        width: 100%;
    }
    
    .solution img {
        width: 20rem;
        height: 30rem;
        border-end-end-radius: 5rem;
        border-start-start-radius: 5rem;
    }

    /* docs */
    .docs {
        margin-bottom: 1rem;
        min-height: 400vh;
    }

    .tab-contents h2 {
        font-size: 1.5rem;
    }

    @keyframes autoplay3 {
        0% {margin-top: 36rem}
        4% {margin-top: 0rem}
        31% {margin-top: 0rem}
        35% {margin-top: -37rem}
        64% {margin-top: -37rem}
        68% {margin-top: -72rem}
        96% {margin-top: -72rem}
        100% {margin-top: -108rem}
    }

    /* footer */
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}

@media only screen and (max-width: 415px) {
    /* .about img {
        width: 13rem;
        height: 13rem;
    } */
}

@media only screen and (max-width: 351px) {
    /* .about img {
        width: 11rem;
        height: 11rem;
    }

    .about h1 {
        font-size: 1.5rem;
    } */
}

/* @media only screen and (max-width: 1134px) {
    .about {
        gap: .5rem;
    }

    .about-info {
        width: 90%;
        gap: .5rem;
        margin: 2rem 0;
    }
} */

@media only screen and (min-width:769px) and (max-width: 950px) {
    /* .about img, .colored-box {
        width: 19rem;
        height: 19rem;
    }

    .about-info p {
        font-size: .9rem;
    }

    .about-info h1 {
        font-size: 1.8rem;
    } */

    /* solutions */
    .solution-info {
        padding: 1rem;
    }

    .solution img {
        width: 20rem;
        height: 40rem;
        border-end-end-radius: 5rem;
        border-start-start-radius: 5rem;
    }

}

@media only screen and (max-width: 1200px) {
    .faq-info {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .about {
        gap: 1rem;
        margin-top: -2rem;
    }
    .image-box {
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .about-info {
        padding: 1rem;
        width: 100%;
    }
}

@media only screen and (max-width: 1540px) {
    .testimonies {
        height: 36rem;
    }

    @keyframes autoplay3 {
        0% {margin-top: 36rem}
        4% {margin-top: 0rem}
        31% {margin-top: 0rem}
        35% {margin-top: -37rem}
        64% {margin-top: -37rem}
        68% {margin-top: -72rem}
        96% {margin-top: -72rem}
        100% {margin-top: -108rem}
    }
}

@media only screen and (max-width: 796px) {
    .testimonies {
        height: 38rem;
    }

    @keyframes autoplay3 {
        0% {margin-top: 38rem}
        4% {margin-top: 0rem}
        31% {margin-top: 0rem}
        35% {margin-top: -39rem}
        64% {margin-top: -39rem}
        68% {margin-top: -76rem}
        96% {margin-top: -76rem}
        100% {margin-top: -110rem}
    }

    .testimony ul li:first-child img,
    .testimony ul li:last-child img{
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .testimonies {
        height: 35rem;
    }

    @keyframes autoplay3 {
        0% {margin-top: 36rem}
        4% {margin-top: 0rem}
        31% {margin-top: 0rem}
        35% {margin-top: -36rem}
        64% {margin-top: -36rem}
        68% {margin-top: -70rem}
        96% {margin-top: -70rem}
        100% {margin-top: -98rem}
    }

    .testimony img {
        width: 15rem;
        height: 15rem;
    }

    .testimony ul li:first-child img,
    .testimony ul li:last-child img{
        display: none;
    }
}

@media only screen and (max-width: 475px) {
    .testimonies {
        height: 35rem;
    }

    @keyframes autoplay3 {
        0% {margin-top: 35rem}
        4% {margin-top: 0rem}
        31% {margin-top: 0rem}
        35% {margin-top: -35rem}
        64% {margin-top: -35rem}
        68% {margin-top: -71rem}
        96% {margin-top: -71rem}
        100% {margin-top: -101rem}
    }

    .testimony img {
        width: 12rem;
        height: 12rem;
    }

    .testimony ul li:first-child img,
    .testimony ul li:last-child img{
        display: none;
    }

}

@media only screen and (max-width: 368px) {
    .testimonies {
        height: 35rem;
    }

    @keyframes autoplay3 {
        0% {margin-top: 35rem}
        4% {margin-top: 0rem}
        31% {margin-top: 0rem}
        35% {margin-top: -35rem}
        64% {margin-top: -35rem}
        68% {margin-top: -71rem}
        96% {margin-top: -71rem}
        100% {margin-top: -101rem}
    }

    .testimony img {
        width: 10rem;
        height: 10rem;
    }

    .testimony ul li:first-child img,
    .testimony ul li:last-child img{
        display: none;
    }
}

@media only screen and (max-width: 1206px) {
     /* profiles */
    .profile {
        padding-top: 0;
        gap: 2rem;
    }

    .card--display img {
        width: 18rem;
        height: 18rem;
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    .carousel .list .item .contents a img {
        width: 15rem;
    }
    
    .carousel .list .item .contents h1 {
        font-size: 1.8rem;
    }
    
    .carousel .list .item .contents h4 {
        font-size: 1.3rem;
    }
    
    .carousel .list .item .contents a.btn {
        font-size: .8rem;
    }
} 