@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    height: 100%;
} */

html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: "SUSE", sans-serif;
}

:root {
    --bgcolor: #fff;
    --main-color:#24B62B;
    --text1-color: #ABECA9;
    --text2-color: #ffffff;
    --faq-bgcolor: #f3f7fd;
    --faq-color: #86929b;
    --orange-color: #FE8D00;
}

/* body {
    font-family: "SUSE", sans-serif;
    width: 100%;
    overflow-x: hidden;
} */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: .85rem;
}

p {
    font-size: 1.1rem;
}

/* utilities */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: .8rem 1.2rem;
    border-radius: 3rem;
    width: fit-content;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container {
    width: 100%;
    max-width: 100%;
    background-color: var(--bgcolor);
    max-height: fit-content;
    position: relative;
}

/* Intro section */
.intro {
    width: 100%;
    height: 100vh;
    color: var(--text2-color);
    position: relative;
    overflow: hidden;
}

.intro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    height: 100%;
    padding-left: 2rem;
    position: relative;
    z-index: 2;
}

.intro-info img {
    width: 20rem;
}

.intro a.btn {
    background-color: var(--main-color);
    color: var(--text2-color);
    font-size: 1.2rem;
}

.intro a.btn:hover {
    background: transparent;
    color: var(--text2-color);
    border: 2px solid var(--main-color);
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
}

#sliderImg {
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.intro-overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
    left: 0;
}

.intro-overlay h1, .intro-overlay h4{
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
}

.intro-overlay h1 {
    animation: showup 3s infinite;
}

.intro-info div {
    /* width: 0px; */
    /* animation: reveal 7s infinte; */
}

.intro-info h4 {
    /* margin-left: -355px; */
    /* animation: slidein 7s infinite; */
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-1200px; }
    20% { margin-left:-1200px; }
    95% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

/* navbar */
.navbar {
    width: 100%;
    padding: 1rem 4rem;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar img {
    width: 9rem;
}

.nav-list li {
    position: relative;
    opacity: 0;
    display: block;
}

.nav-list li > ul {
    position: absolute;
    pointer-events:none;
}

.nav-list .block {
    display:flex; 
    flex-direction: column;
}

.nav-list > ul > li { pointer-events: all; opacity:1; }
.nav-list ul li a { white-space:nowrap; display:block; }

.nav-list li:hover > ul {
    pointer-events:initial;
}

.nav-list li:hover > ul > li,
.nav-list ul:hover > li{
    opacity:1;
}

.nav-list > ul > li ul li{
    transform:translateX(100%);
    top:0;
    right:0;
    background-color: var(--main-color);
    padding: .5rem 1rem;
    margin-bottom: .3rem;
    z-index: 20;
    width: 100%;
}

.nav-list > ul > li > ul > li{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
}
.nav-list > ul > li:hover > ul > li,
.nav-list > ul > li.hover > ul > li{
    transform:translateY(0%);
    opacity: 1;
}

.nav-list ul, .socials ul {
    display: flex;
    align-items: center;
}

.nav-list ul li a{
    display: flex;
    align-content: center;
    padding: .5rem 1rem;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text2-color);
    transition: all .3s ease;
    gap: .3rem;
}

.nav-list ul li a:hover {
    color: var(--text1-color);
    /* font-size: 1rem; */
}

.nav-btn {
    border: 2px solid var(--text2-color);
    margin-right: 1rem;
}

.nav-list .nav-btn a {
    color: var(--text2-color);
}

/* .nav-list ul li  */

.socials ul {
    gap: 1rem;
}

.socials i, .mobile-menu-toggle a i {
    color: var(--text2-color);
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 80vh;
    background-color: var(--main-color);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: none;
    padding: 1rem;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu  ul li a {
    display: block;
    padding: 1rem;
    color: var(--text2-color);
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Mobile Menu Header */
.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.close-menu {
    background: none;
    border: none;
    color: var(--text2-color);
    font-size: 2rem;
    cursor: pointer;
}

/* Show mobile menu */
.mobile-menu.active {
    transform: translateX(0);
    display: block;
}

.hide-bar {
    display: none;
}

/* About section */
.main {
    margin: 5rem 0;
    max-width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
}

.image-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
}

.colored-box, .about img {
    position: absolute;
}

.colored-box {
    width: 25rem;
    height: 25rem;
    background-color: var(--main-color);
    transform: rotate(-10deg);
    border-radius: 5rem;
    transform-origin: center right;
}

.about img {
    width: 25rem;
    height: 25rem;
    border-radius: 5rem;
    z-index: 2;
    transform: rotate(10deg);
    transform-origin: center left;
}

.about-info {
    width: 80%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.about-info h1 {
    color: var(--main-color);
}

.about-info a.btn {
    background-color: var(--main-color);
    color: var(--text2-color);
}

.about-info a.btn:hover {
    background-color:var(--text1-color);
    /* color: var(--text2-color); */
    color: var(--main-color);
}

/* rows of achievements */
.rows {
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    background-color: var(--orange-color);
    padding: 3rem 1rem;
}

.circle, .stats-no {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.circle {
    position: relative;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    width: 10rem;
    height: 10rem;
    opacity: 0; /* Start hidden */
    transform: scale(0.5); /* Start smaller */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth animation */
}

.circle.animate {
    opacity: 1; /* Fade in */
    transform: scale(1); /* Scale up to original size */
}

.stats-no {
    position: absolute;
    top: -25px;
    right: -15px;
    width: 5rem;
    height: 5rem;
    background-color: var(--main-color);
    color: var(--text2-color);
}

/* Features */
.features, .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 7rem 0;
    width: 100%;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    max-width: 30rem;
    padding: 0 1rem;
    color: black;
    font-family: "Playfair Display", serif;
}

.heading h3 {
    font-size: 2.5rem;
}

.heading h5 {
    font-size: 3rem;
    font-family: "Tangerine", cursive;
}

.features-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 30%;
}

.image-container img {
    width: 100%;
    height: 11rem;
    object-fit: cover; 
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 0; 
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.overlay-content {
    color: #fff; 
    text-align: center;
    z-index: 2; 
}

.image-container:hover .overlay {
    opacity: 1; 
}

.overlay-content h1 {
    font-size: 2em; 
    margin: 0 0 10px; 
}

.overlay-content p {
    font-size: 1.2em; 
    margin: 0;
}

/* Benefits */
.benefits-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    gap: 3rem;
    margin: auto;
    padding: 1rem;
}

.benefit {
    width: 20rem;
    background-color: #f7f7f7;
    overflow: hidden;
    box-shadow: rgba(82, 159, 80, 0.2) 0px 2px 8px 0px;
}

.benefit img {
    width: 100%;
    height: 14rem;
}

.benefit-info {
    padding: 1.5rem 1rem;
}

.benefit-info h3 {
    margin-bottom: 1.5rem;
}

/* FAQ */
.faq-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 2rem 0;
}

.faq-info {
    width: 100%;
    background-color: var(--orange-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.faq-text h3 {
    margin-bottom: 1rem;
}

.accordion {
    margin: 3rem 0;
}

.accordion-container {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    border: 3px solid #e0e0e0;
    border-radius: 2rem;
    overflow: hidden;
}

.accordion-item {
    width: 100%;
}

.accordion-trigger {
    width: 100%;
    display: block;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    border: none;
    display: flex;
    gap: 1rempx;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-icon {
    transition: transform 0.5s;
}

.accordion-item.is-active .accordion-icon {
    transform: rotate(45deg);
}

.accordion-item:not(:first-of-type) .accordion-trigger {
    border-top: 3px solid #eaeaea;
}

.accordion-content {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.accordion-content p, .accordion-content h4 {
    margin: 24px;
}

/* testimonies */
.testimony-content {
    width: 100%;
}

.testimonies {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 34rem;
    overflow: hidden;
}

.testimonies > *:first-child {
    animation: 12s autoplay3 infinite ease-in-out
}

@keyframes autoplay3 {
    0% {margin-top: 34rem}
    4% {margin-top: 0rem}
    31% {margin-top: 0rem}
    35% {margin-top: -35rem}
    64% {margin-top: -35rem}
    68% {margin-top: -70rem}
    96% {margin-top: -70rem}
    100% {margin-top: -102rem}
}

.testimony {
    display: grid;
    gap: 2rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.testimony h2 {
    font-family: "Tangerine", cursive;
    margin: 2rem 0;
}

.testimony h2:after {
    content: '';
    background-color: var(--main-color);
    position: absolute;
    width: 6rem;
    text-align: center;
    right: 0;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: .8rem;
    border-radius: 1rem;
}

.testimony ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.testimony img {
    width: 20rem;
    height: 20rem;
    border-radius: 7rem;
}

.testimony ul li:first-child img{
    width: 5rem;
    height: 5rem;
}

.testimony ul li:last-child img{
    width: 5rem;
    height: 5rem;
}

/* solutions */
.solution {
    display: grid;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 2rem;
}

header {
    width: 100%;
    text-align: center;
}

.solution header {
    background-color: var(--main-color);
    color: var(--text2-color);
    /* font-family: "Sacramento", cursive; */
}

.solution header h1 {
    margin: 1rem;
}

.solution-info {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.text, .solution-img {
    width: 40%;
}

.solution img {
    width: 30rem;
    height: 40rem;
    border-end-end-radius: 5rem;
    border-start-start-radius: 5rem;
}

.solution-img {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text a.btn {
    background-color: var(--main-color);
    color: var(--text2-color);
}

.text a.btn:hover {
    background-color: var(--text2-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

/* footer */
.footer {
    width: 100%;
    background: var(--main-color);
    border-radius: 6px;
    margin-top: 3rem;
    color: var(--text2-color);
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: var(--text2-color);
}

.footer-col .links li a i {
    margin-right: .5rem;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0;
    color: var(--text2-color);
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid var(--text2-color) ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: var(--text2-color);
}

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    color: var(--main-color);
}

.footer-col form button:hover {
    background: var(--main-color);
    color: var(--text2-color);
    border: 2px solid var(--text2-color);
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: var(--text2-color);
}

.footer-col .icons i:hover  {
    color: #fff;
}

/* pricing */
.pricing-table {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.card {
    width: 20rem;
    height: auto;
    padding: 2rem;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 2px 2px 46px -4px var(--text1-color);
    transition: all 0.2s ease-in-out;
}

.type {
    margin-top: 30px;
    letter-spacing: 0.1rem;
}

.price {
    font-size: 7.5rem;
    position: relative;
    z-index: 2;
}

.card span {
    font-size: 1.8rem;
}

.plan {
    margin-bottom: 10px;
}

.details {
    margin-top: 1rem;
    margin-bottom: 3rem;

}

.details li {
    font-size: .9rem;
    margin-bottom: .6rem;
    display: flex;
    gap: 1rem;
}

.buy-button {
    cursor: pointer;
    position: absolute;
    width: 80%;
    height: 13rem;
    background: var(--main-color);
    border-radius: 15%;
    right: -34%;
    bottom: -27%;
    transition: all 0.4s ease-in-out;
}

.sub-btn {
    text-shadow: 0 0 0;
    text-decoration: none;
    color: var(--text2-color);
    position: absolute;
    left: 8%;
    top: 10%;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}

.sub-btn:hover {
    transform: scale(1.02);
}

.buy-button:hover {
    width: 100%;
    right: 0%;
    border-radius: 0%;
}

.buy-button:hover .sub-btn {
    left: 50%;
    transform: translate(-50%, 0%);
}

/* forms */
.special-menu li a {
    color: var(--text2-color);
    text-transform: uppercase;
    font-weight: bold;
}

.forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.forms h1{
    color: var(--main-color);
}

.forms p a, .forms > a {
    text-decoration: underline;
    color: var(--main-color);
}

.form {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 30rem;
    box-shadow: 5px 10px 10px rgb(36, 182, 43,0.2);
}

.form::before, .form::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: 5;
}

.form::before {
    left: 40%;
    bottom: -130%;
    background-color: rgb(36, 182, 43,0.2);
    animation: waves 6s infinite linear;
}

.form::after {
    left: 35%;
    bottom: -125%;
    background-color: rgb(6, 128, 11,0.2);
    animation: waves 7s infinite;
}

.form__field {
	padding: 1rem 0;	
	position: relative;	
}

.form__icon {
	position: absolute;
	top: 30px;
	color: var(--main-color);
}

.form__input {
	border: none;
	border-bottom: 2px solid var(--text1-color);
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.form__input:active,
.form__input:focus,
.form__input:hover {
	outline: none;
	border-bottom-color: var(--main-color);
}

.form a {
    width: 80%;
    color: var(--text2-color);
    background-color: var(--main-color);
    text-align: center;
}

.terms a {
    color: black;
    text-decoration: underline;
    background: transparent;
    margin-bottom: 1rem;
}

@keyframes waves {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

/* documentation */
.docs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
}

.tabs {
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
}

.tabs li a {
    font-weight: 700;
    font-size: .8rem;
    text-decoration: none;
    color: #8D8D8D;
    border: 1px solid #DCDADA;
    background-color: #F5F5F5;
    display: inline-block;
    padding: .8rem;
    transition: all .3s ease;
}

.tabs li a.active {
    background-color: #FFFFFF;
    color: #424242;
    cursor: default;
}

.tabs li a:hover:not(.active) {
    background-color: rgba(245, 245, 245, .25);
    color: #424242;
}

.tabs li:first-child a {
    border-radius: 5px 0 0 5px;
}

.tabs li:last-child a {
    border-radius: 0 5px 5px 0;
}

.tabs li:not(:first-child) {
    margin-left: -1px;
}

.tab-contents {
    min-width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-contents li {
    margin: auto;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    pointer-events: none;
}

.tab-contents li.visible {
    opacity: 1;
    pointer-events: auto;
}

/* profiles */
.profiles {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
}

.profile {
    font-weight: bold;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    width: 100%;
    padding: 3rem 0;
    gap: 5rem;
    border-bottom: solid 2px black;
}

.card--info {
    width: 40%;
}

.card--info h3 {
    margin-bottom: 1rem;
}

.card--display img {
    width: 30rem;
    height: 30rem;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.fancy {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23529F50' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2324B62B'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2372BB71'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%2306800B'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    }
